* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #0C1027;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
	height: 12vh;
    margin-bottom: 2rem;
}

/*Navbar properties*/

nav {
    display: flex;
    flex-direction: row;
    color: white;
    position: fixed;
    top:0px;
    width: 100%;
    height: auto;
}

nav > div {

    width: 10%;
    padding: 1%;
    height: auto;
}

.icon img{
    max-width: 3rem;
}

#name span{
	position: relative;
	top: 28%;
	left: -80%;
}

.favourites {
    width: auto;
}

.favourites span {
    position: relative;
    top: 22%;
    font-size: 1.5rem;
}

.search {
    margin-left: auto;
    width:100%;
}

.search input {
    position: relative;
    right: 2px;
    top: 28%;
    left: 40%;
    height: 70%;
    border: none;
    border-radius: 25px;
    background-color: #12193E;
    width: 15rem;
}

::placeholder{
	color: white;
	text-align: left;
	padding: 0 0 0 0.4rem;
	font-size: 1.1rem;
}

.bell-icon  {
    padding-top: 1.8rem;
    font-size: 2rem; 
    padding-right: 10rem;  
}
.profile-pic  {
    font-size: 2rem;
    padding-top: 1.8rem;

}
.profile-pic i { 
    color: linear-gradient(to top right ,rgba(4, 4, 95, 0.2) 2%,rgba(66, 8, 66, 0.2) );
}

/*Main container*/
#container{
	display: flex;
	width: 100%;
}

#container main{
	width: 70%;
	/*border: 2px solid yellow;*/
	margin: 0rem 1rem;
}

#container aside{
	width: 30%;
	/*border: 2px solid red;*/
	margin: 0rem 1rem;
}



/*Aside*/
.queue-container{
	display: flex;
	margin-bottom: 2.1rem;
}
#aside-section{
	display:flex;
}
#aside-heading{
	color: white;
	font-size: 1.3rem;
}

#queue-link a{
	text-decoration: none;
	color: #43BAA4;
	/*float: left;*/
}
#queue-link i{
	color: #43BAA4;
}
#queue-link{
	margin-left: auto;
	margin-right: 2rem;
	margin-top: auto;
	/*margin-bottom: 2rem;*/
}

#queue-list{
	margin-left: 0.7rem;
	margin-top: 2rem;
}

#queue-list div{
	display: flex;
	flex-direction: row;
}

.image-thumbnail img{
	height: 3rem;
	width: 3rem;
	margin-right: 1rem;
	box-shadow: 0px 0px 6px 2px white;
	border-radius: 7px;
}

.song-number{
	margin-top: 1rem;
	margin-right: 1rem;
	color: #8598A4;
}

.song-name{
	margin-top: 0.3rem;
/*	display: flex;
	justify-content: flex-start;*/
}

.song-details{
	display: flex;
}

.singer-name{
	position: relative;
	margin-top: 1.4rem;
	font-size: 0.9rem;
	color: #9C9FA8;
	left: -2.5rem;
}

.heart-icon{
	margin-top: 0.7rem;
	margin-right: 3rem;
	margin-left: auto;
}

.heart-icon i{
	color: #90A5B0;
}



/*Main section images*/
#images-floating{
	display: flex;
	justify-content: center;
}

.scale-image{
	height: 20rem;
	width: 20rem;
}
.scale-image img{
	height: 90%;
	width: 90%;
	margin: 0.3rem 0.3rem 0.3rem 0.3rem;
	transition: 0.2s ease-in-out;
}

.scale-image:hover{
	transform-scale(1.5);
/*	height: 97%;
	width: 97%;*/
	/*border-radius: 50%;*/
}