* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #0C1027;
    font-family: sans-serif;

}

.wrapper {
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100vh;
}

header{
	height: 12vh;
    margin-bottom: 2rem;
}

#container{
	margin-top: -5rem;
	/*border: 2px solid red;*/
}

/*Navbar properties*/


nav {
	display: flex;
	background-color: #0C1027;
	z-index:1;
    flex-direction: row;
    color: white;
    position: fixed;
    top:0px;
    width: 100%;
    height: auto;
}

nav > div {

    width: 10%;
    padding: 1%;
    height: auto;
}

.icon img{
    max-width: 3rem;
}

#name span{
	position: relative;
	top: 40%;
	left: -80%;
}

.favourites {
    width: auto;
}

.favourites span {
    position: relative;
    top: 22%;
    font-size: 1.5rem;
}

.search {
    margin-left: auto;
    width:100%;
}

.search input {
    position: relative;
    right: 2px;
    top: 28%;
    left: 40%;
    height: 70%;
    border: none;
    border-radius: 25px;
    background-color: #12193E;
    width: 15rem;
}

::placeholder{
	color: white;
	text-align: left;
	padding: 0 0 0 0.4rem;
	font-size: 1.1rem;
}

.bell-icon  {
    padding-top: 1.8rem;
    font-size: 2rem; 
    padding-right: 10rem;  
}
.profile-pic  {
    font-size: 2rem;
    padding-top: 1.8rem;

}
.profile-pic i { 
    color: linear-gradient(to top right ,rgba(4, 4, 95, 0.2) 2%,rgba(66, 8, 66, 0.2) );
}

/*Main container*/
#container{
	display: flex;
	width: 100%;
}

#container main{
	width: 70%;
	/*border: 2px solid yellow;*/
	margin: 0rem 1rem;
}

#container aside{
	width: 30%;
	/*border: 2px solid red;*/
	margin: 0rem 1rem;
}



/*Aside*/
#queue-list{
	height: 100vh;
  	overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;  make scrollbar transparent 
}
.queue-container{
	display: flex;
	margin-bottom: 2.1rem;
}
#aside-section{
	display:flex;
}
#aside-heading{
	color: white;
	font-size: 1.3rem;
}

#queue-link a{
	text-decoration: none;
	color: #43BAA4;
	/*float: left;*/
}
#queue-link i{
	color: #43BAA4;
}
#queue-link{
	margin-left: auto;
	margin-right: 2rem;
	margin-top: auto;
	/*margin-bottom: 2rem;*/
}

#queue-link:hover ~ .queue-dropdown{
	display: flex;
}
.queue-dropdown{
	position: fixed;
	height: 3rem;
	width: 10rem;
	background-color: white;
	right: 4rem;
	margin-top: 2rem;
	flex-direction: column;
	display: none;
}

#queue-value{
	height: 2rem;
	width: 100%;
	/*border: 2px solid red;*/
}

#queue-value span{
	color: #353338; 
	font-weight: 560;
	text-align: center;
	font-size: 0.86rem;
	justify-content: center;
	margin-left: 0.4rem;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#queue-list{
	margin-left: 0.7rem;
	margin-top: 2rem;
}

#queue-list div{
	display: flex;
	flex-direction: row;
}

.image-thumbnail img{
	height: 3rem;
	width: 3rem;
	margin-right: 1rem;
	box-shadow: 0px 0px 6px 2px white;
	border-radius: 7px;
}

.song-number{
	margin-top: 1rem;
	margin-right: 1rem;
	color: #8598A4;
}

.song-name{
	margin-top: 0.3rem;
/*	display: flex;
	justify-content: flex-start;*/
}

.song-details{
	display: flex;
}

.singer-name{
	position: relative;
	margin-top: 1.4rem;
	font-size: 0.9rem;
	color: #9C9FA8;
	left: -2.5rem;
}

.heart-icon{
	margin-top: 0.7rem;
	margin-right: 3rem;
	margin-left: auto;
}

.heart-icon i{
	color: #90A5B0;
}



/*Main section images*/
#images-floating{
	display: flex;
	justify-content: center;
}

.scale-image{
	height: 20rem;
	width: 20rem;
}
.scale-image img{
	height: 90%;
	width: 90%;
	margin: 0.3rem 0.3rem 0.3rem 0.3rem;
	border-radius: 4px;
	transition: 0.2s ease-in-out;
}

.scale-image:hover img{
	transform: scale(1.1);
/*	height: 97%;
	width: 97%;*/
	/*border-radius: 50%;*/
}

/*Main section latest release*/
#latest-release{
	margin-top: 1.2rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#latest-heading{
	color: white;
	font-size: 1.2rem;
	margin-left: 2.5rem;
	position: absolute;
}

.latest-song{
	margin: 2rem 1rem;
	margin-left: 2.5rem;
	width: 37%;
	/*border: 2px solid red;*/
	display: flex;
}

.latest-song-thumbnail img{
	height: 5.4rem;
	width: 5rem;
	margin-top: 0.8rem;
}

.latest-song-name{
	margin-top: 2rem;
	margin-left: 1rem;
}

.new-song-name{
	font-weight: 300;
	margin-bottom: 0.3rem;
}

.release-date{
	color: #9C9FA8;
}

.three-dots{
	margin-top: 0.4rem;
	margin-left: 8.5rem;
}
.three-dots i{
	color: #93A8B3;
}

.three-dots:hover ~ .drop-down-menu{
	display: block;
}

.drop-down-menu:hover ~.drop-down-menu{
	display: block;
}

.drop-down-menu{
	position: absolute;
	z-index: 1rem;
	height: 8rem;
	width: 10rem;
	/*top: -0rem;*/
	background-color: white;
	display: flex;
	flex-direction: column;
	display: none;
}

.icon-and-use{
	display: flex;
	/*border: 2px solid red;*/
	height: 2rem;
	width: 100%;
}

#dropdown-button{
	position: relative;
	top: 0.3rem;
	left: 0.3rem;
}
#dropdown-button i{
	color: #8F8BB0;
}

.icon-use{
	color: #353338;
	font-size: 0.9rem;
	font-weight: 580;
	margin-top: 0.3rem;
	margin-left: 0.7rem;
}

.time-duration{
	color: #9C9FA8;
	margin-left: 8.2rem;
	margin-top: 0.2rem;
	font-size: 0.8rem;
}

/*Main section Popular artists */
.popular-artists{
	display: flex;
	width: 100%;
	flex-direction: row;
}

.singer-profile-pic{
	display: inline-block;
	height: 11rem;
	width: 11rem;
	justify-content: space-between;
}

.artist-image{
	height: 11rem;
	width: 11rem;
	display: flex;
}

.artist-image img:hover ~ .play-icon-artist{
	display: block;
}

.artist-image img:hover{
	opacity: 0.5;
}

.play-icon-artist:hover{
	display: block;
}

.play-icon-artist:hover ~ .artist-image img{
	opacity: 0.5;
}

.play-icon-artist{
	position: relative;
	top: 6.5rem;
	left: -5.8rem;
	font-size: 1.5rem;
	display: none;
}

.artist-image img{
	height: 11rem;
	width: 11.5rem;
	border-radius: 50%;
	margin-left: 2rem;
	margin-top: 2rem;
}

.artist-name{
	margin-left: 5.3rem;
	margin-top: 2.4rem;
}


/*Station bar*/
.stations{
	display: flex;
	background-color: #101642;
	width: 97%;
	margin-top: 3rem;
	margin-left: 2.5rem;
	height: 12.2rem;
	/*height: auto;*/
	/*width: 20rem;*/
	/*border-color: red;*/
}

#station-header-container{
	height: 10rem;
	width: 10rem;
	/*border: 2px solid red;*/
}
#station-header{
	height: 5rem;
	width: 12rem;
	background-color: #F9D64C;
	margin-left: 2rem;
	margin-top: 3.4rem;
}

#station-inner-header{
	position: relative;
	height: 7rem;
	width: 10.6rem;
	background-color: #F0BC10;
	margin-left: 0.68rem;
	top: -1rem;
}

#main-station-header{
	position: relative;
	height: 9rem;
	width: 9.3rem;
	background-color: #FF4F0A;
	margin-left: 0.7rem;
	top: -0.8rem;
}

#main-station-header div{
	text-align: center;
	justify-content: center;
	/*margin-top: 50%;*/
}

#main-station-header i{
	margin-top: 26%;
	font-size: 2rem;
}

#station-text{
	font-size: 1.4rem;
	margin-top: 0.4rem;
}

#music-type-image{
	margin-left: -2.1rem;
	margin-top: 1.3rem;
	transform: scale(0.8);
	flex-wrap: wrap;
	justify-content: space-around;
}


/*Music type*/
.mood-type{
	display: flex;
	margin-left: 2.5rem;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	margin-top: 3rem;
	width: 97%;
}

#mood-type-image{
	/*border: 2px solid red;*/
	height: 14rem;
	width: 32%;
	overflow: hidden;
}

#mood-type-image img{
	opacity: 0.7;
	filter: brightness(1);
	height: 100%;
	width: 100%;
	transition: 0.5s ease-in-out;
}

.text-over-img{
	position: relative;
	top: -8.2rem;
	left: 8.5rem;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	font-weight: 500;
}

#mood-type-image img:hover{
	transform: scale(1.3);
}


/*Latest playlist*/
.latest-songs{
	margin-top: 3rem;
	margin-left: 2.5rem;
	width: 100%;
	/*border: 2px solid aqua;*/
}

.latest-songs #latest-heading{
	margin-left: 0rem;
}

.latest-images-container{
	display: flex;
	width: 100%;
	/*border: 2px solid yellow;*/
}

.latest-song-details{
	display: flex;
	height: 10rem;
	width: 10rem;
	/*border: 2px solid red;*/
	margin-right: 1rem;
	margin-top: 3rem;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
}

.latest-song-details img{
	height: 100%;
	width: 100%;
}

.latest-artist{
	margin-top: 0.3rem;
}

.latest-date{
	margin-top: 0.3rem;
	color: #9C9FA8;
	font-size: 0.87rem;
}

.latest-song2{
	position: absolute;
	margin-top: 5rem;
}

/*footer music player*/
footer {
  	position: fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: rgb(40,40,40);
  	color: white;
  	text-align: center;
  	height: 4.5rem;
  	display: none;
}

.music-player{
	display: flex;
	flex-direction: row;
}

#song-image img{
	margin-left: 3.5rem;
	margin-top: 0.3rem;
	height: 4.2rem;
	width: 4.2rem;
}

#name-and-singerName{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1rem;
}

#name-song{
	font-size: 1.4rem;
	height: 1.5rem;
	width: 8rem;
	overflow: hidden;
	text-align: center;
}

#name-singer{
	color: #8A8A8A;
	text-align: left;
	margin-top: 0.5rem;
}

.player-icons{
	margin-left: 1rem;
	margin-top: 1.2rem;
	/*margin-bottom: 0.5rem;*/
}
.player-icons i{
	color: #8A8A8A;
	font-size: 1.3rem;
}

.main-player{
	display: flex;
	flex-direction: column;
	margin-left: 20rem;
	margin-top: 1rem;
}

.player-buttons i{
	color: #B3B3B3;
	font-size: 1.2rem;
	letter-spacing: 1.4rem;
}

#random i, #repeat i{
	margin-top: 0.1rem;
}

#step-backward i, #step-forward i{
	font-size: 1.4rem;
}

#pause i{
	font-size: 2rem;
	color: white;
}

.slider-details{
	display: flex;
}

.slider{
	/*margin-top: 0.2rem;*/
	position: relative;
	top: 0.6rem;
	left: -0.8rem;
	width: 24rem;
	height: 0.3rem;
	/*border: 2px solid red;*/
	background-color: #404040;
	border-radius: 24px;
}

#breakpoint{
	width: 40%;
	height: 100%;
	background-image: linear-gradient(to right, green, #90ee90);
}

#breakpoint i{
	position: relative;
	top: -0.31rem;
	left: 5rem;
}

#at-time{
	position: relative;
	color: #848484;
	left: -1.3rem;
	font-size: 0.9rem;
	top: 0.2rem;
}

#length-song{
	position: relative;
	color: #848484;
	top: 0.2rem;
	left: -0.3rem;
	font-size: 0.9rem;
}

.volume-and-expand{
	/*position: relative;*/
	margin-right: 10rem;
	margin-left: auto;
	margin-top: 1.75rem;
}

.volume-and-expand i{
	color: #848484;
}

.slider-details2{
	display: flex;
}

.slider2{
	/*margin-top: 0.2rem;*/
	position: relative;
	top: -0.7rem;
	left: 4.6rem;
	width: 5rem;
	height: 0.3rem;
	/*border: 2px solid red;*/
	background-color: #404040;
	border-radius: 24px;
}

#breakpoint2{
	width: 40%;
	height: 100%;
	background-image: linear-gradient(to right, green, #90ee90);
}

#breakpoint2 i{
	position: relative;
	top: -0.3rem;
	left: 1.4rem;
	color: white;
}

#expand{
	position: relative;
	/*border: 2px solid red;*/
	top: -1.5rem;
	left: 8.3rem;
}

#expand i{
	color: #B3B3B3;
	font-size: 1.4rem;
	transform: rotate(40deg);
}





/*Styling for Single Playlist Screen*/

/*Aside*/
.queue-list2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	/*border: 2px solid red;*/
	margin-top: 1.7rem;
}

.artist-pic img{
	height: 5rem;
	width: 5rem;
	box-shadow: 0px 0px 6px 2px white;
}

.artist-details2{
	color: white;
	margin-left: 1rem;
	margin-top: 1.3rem;
}

#artist-name2{
	font-weight: 700;
}

#song-type2{
	margin-top: 0.5rem;
	color: #777A86;
	font-weight: 600;
}


/*Main Container 2*/
.about-artist2{
	/*position: relative;*/
	height: 22.6rem;
	width: 93%;
	margin-top: 0.4rem;
	display: flex;
	/*border: 2px solid yellow;*/
	margin-left: 2.5rem;
	background-color: #141B41;
}

.about-artist2 img{
	height: 100%;
	width: 34%;
}

.details2{
	height: 100%;
	width: 100%;
	/*border: 2px solid yellow;*/
}

.band-name{
	margin-left: 2rem;
	margin-top: 3rem;
	height: 3rem;
	width: 100%;
	/*margin: 2px solid red;*/
}

#band-name2{
	color: white;
	font-size: 2rem;
	font-weight: 700;
}

#band-type{
	color: #84889B;
	font-size: 1.2rem;
}

#followers{
	color: #84889B;
	margin-left: 20rem;
}

#about-band p{
	margin-top: 1.6rem;
	color: #84889B;
	text-align: justify;
	padding-left: 2rem;
	padding-right: 2rem;
}

#play-button2{
	height: 2.4rem;
	width: 8rem;
	display: inline-block;
	/*border: 2px solid red;*/
	background-image: linear-gradient(to right, #2C229A, #BF47DE);
}

#play-button2 span{
	position: relative;
	left: 2.2rem;
	top: 0.6rem;
	letter-spacing: 0.08rem;
}
.play-all{
	margin-left: 2rem;
	margin-top: 2rem;
}

#follow{
	position: relative;
	margin-left: 5rem;
	color: white;
}

#tracks{
	position: absolute;
	color: white;
	margin-top: 0.7rem;
	font-size: 0.87rem;
}

.song-details2{
	height: 4rem;
	width: 93%;
	margin-top: 0.7rem;
	display: flex;
	/*border: 2px solid yellow;*/
	margin-left: 2.5rem;
	background-color: #141B41;
}

.mb2{
	margin-top: 0.4rem;
}
.mb2 img{
	box-shadow: none;
}

.mbleft2{
	margin-left: 0.4rem;
}

.mb3{
	margin-top: 1.1rem;
}
.mb3 i{
	font-size: 1.4rem;
	margin-right: 0.5rem;
}

.mb10{
	position: relative;
	margin-top: 2rem;
}